.{
   width: 100%;
    height: 100%;
    overflow-x: hidden ;
    overflow-y: scroll;
     padding: 0; margin: 0; 
}
body{
	margin: 0px auto;
	width: 100%;
	background-color: #d8d3cd;
}
.topnav{
  overflow: hidden;
  background-color: orange;
  margin-bottom: 15px;
}
.topnav:only(:first-child){
  padding-top: 20px;
}
.topnav a {
  float: right;
  display: block;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 6px 25px;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: background 0.3s linear;
 -moz-transition: background 0.3s linear;
 -ms-transition: background 0.3s linear;
 -o-transition: background 0.3s linear;
 transition: background 0.3s linear;
 z-index: 9;
}
.topnav .sale a{
  cursor: pointer;
}
.topnav a:hover:not(:first-child) {
  background-color: #52575d;
  color: white;
}

 input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 button {
  background-color: orange;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

 button:hover {
  opacity: 0.8;
}
 .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: black;
  color: orange;
}
 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

 img.avatar {
  width: 20%;
  border-radius: 50%;
}

 .container {
  padding: 16px;
}

 span.psw {
  float: right;
  padding-top: 12px;
}
 .modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
 .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%; 
}
 .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

 .close:hover,
 .close:focus {
  color: orange;
  cursor: pointer;
}
 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
#brand .search-container {
  display: table-cell;
  padding-left: 320px;
  padding-bottom: 50px;
}

#brand input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 500px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#brand input[type=text]:focus{
  width: 150%;
}

#brand .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #cc7722;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: black;
  width: 270px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#brand .search-container button:hover {
  background: #52575d;
  color: yellow;
}

#brand img{
	padding-top: 27px;
	display: table-cell;
	width: 21%;
	float: center;
  padding-left: 530px;
}
#brand h2{
	padding-left: 550px;
}
.rc_nav {
  overflow: hidden;
  background-color: black;
  text-align: center;
  z-index: 6;
  position: -webkit-sticky;
  font-family: cursive;
}
.rc_nav a {
 display: inline-block;
 margin-right: -4px; 
 color: orange;
 padding: 10px 50px;
 text-decoration: none;
 font-size: 18px;
 -webkit-transition: background 0.3s linear;
 -moz-transition: background 0.3s linear;
 -ms-transition: background 0.3s linear;
 -o-transition: background 0.3s linear;
 transition: background 0.3s linear;
 z-index: 9;
}
.rc_nav a:hover {
  background-color: #52575d;
  color: white;
}
.rc_nav a:span{
    position: absolute;
    transition: all 0.4s;   
}
span{
    transform: translate(0);
}
.rc_nav .icon {
  display: inline-flex;
}
.rc_content {
  text-align: center; 
  padding-left:14px; 
  margin-top: 100px;  
  color: black;
}
.home{	
	display: table;
	height: 100vh;
	width: 100%;
  background-color: #dddddd;
}
.mySlides1
{
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100vh;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.new{
  display: table;
  height: 100vh;
  width: 100%;
  background-color: white;

}
.card, .card1, .card2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding-top: 50px;
   float: left;
}

.card p,.card1 p,.card2 p{
  color: black;
  font-size: 17px;
  text-decoration: underline;
}
.card a,.card1 a,.card2 a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.card a:hover,.card1 a:hover,.card2 a:hover{
  color: orange;
}
.price,.price1,.price2 {
  color: grey;
  font-size: 22px;
}

.card button, .card1 .button1, .card2 .button2{
  border: none;
  outline: 0;
  padding: 12px;
  color: orange;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover, .card1 button:hover, .card2 button:hover {
  opacity: 0.7;
  color: white;
}
.card1,.card2{
  margin-left:310px;
  width: 250px;
}
.categories{
padding:3%;
background-color: blanchedalmond;
height: 100vh;
width: 100%;
 display: table;
 background-color: grey;
}
.categories H1, .new h2{
font-size: 50px;
font-family: 'Roboto Mono', monospace;
text-align: center;
}
.navigation{
  position: fixed;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer{
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  background: black;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}


.footer-distributed h3{
  color:  orange;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}


.footer-distributed .footer-links{
  color:  black;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .footer-links a:hover{
  color: blue;
}
.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: yellow;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color: orange;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  padding-right: 25px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 767px){
  .topnav{
    width: 100%;
  }
  #brand img{
  float: center;
  padding-left: 320px;
}
 #brand h2{
  padding-left: 280px;
}
 #brand .search-container {
  padding-left: 60px;
  padding-bottom: 50px;
}

#brand input[type=text] {
  width: 420px;
}
#brand input[type=text]:focus{
  width: 160%;
}

#brand .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #cc7722;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: black;
  width: 230px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#brand .search-container button:hover {
  background: #52575d;
  color: yellow;
}
.rc_nav a {
 display: inline-block;
 margin-right: -4px; 
 color: orange;
 padding: 10px 30px;
}
.new{
  display: table;
  height: 100vh;
  width: 100%;
  background-color: white;

}
.card, .card1, .card2{
  max-width: 100%;
  padding-left: 12px;
  margin: auto;
}
.footer-distributed{
  width: 100%;
  padding: 15px 60px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
}

.footer-distributed .footer-left{
  width: 32%;
}


.footer-distributed h3{
  color:  orange;
  font: normal 36px 'Open Sans', cursive;
  margin: 2;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}


.footer-distributed .footer-links{
  color:  black;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .footer-links a:hover{
  color: blue;
}
.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 40%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin-right: 25px;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: yellow;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color: orange;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons div{
  padding-bottom: 2px;
display: inline-block;
}

}
@media (min-width: 768px) and (max-width: 1023px){
  
} 
@media(min-width: 1024px) and (max-width: 1439px){
  
}
@media(min-width: 1440px) and (max-width: 2560px){
  
}
